.main_div{
     width: 380px;
     height: 450px;
     background-color: aliceblue;
     box-shadow: 1px 1px 10px 2px gray;
     margin-left: 36%;
     margin-top: 6%;
     border-radius: 10px;
     text-align: center;
     padding: 10px 20px;
}
.main_div img{
     width: 90px;
     height: 95px;
     border-radius: 50%;
     border: 1px solid gray;
     margin-top: 20px;

}
.main_div h3{
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.other_content p{
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin: 15px;
}
